.showTicket{
        width: 100%;
        background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
        min-height: calc(100vh - 80px);
        height : 500px;

        .MuiGrid-container{
                .MuiGrid-item{
                        width:100%;
                }
        }
}