.showChair {
 
  
  .showChair__title {
    @include max(768px){
      padding: 10px ;
    }
    padding: 15px ;
    display: flex;
    justify-content: space-between;
    &--info {
      
      display: flex;
      align-items: center;
      @include max(768px){
        display:none;

      }
      .theaterInfo__logo {
        padding-right: 10px;
        img {
          height: 60px;
          width: 60px;
        
        }
      }
      .theaterInfo__text {
        p {
          color:#000;
          margin-bottom: 0;
          span{
            font-weight: bold;
          }
        }
        span {
          &:nth-child(2) {
            font-size: 13px;
            color: gray;
          }
        }
      }
    }
    &--chairs{
      width:60%;
      @include min(768px){

        display: none;
      }
    }
    &--timeOut {
      text-align: center;
      #dat-lai{
        color:red
      }
      p {
        font-size: 14px;
        color: gray;
        margin-bottom: 0;
      }
      span {
        font-size: 2.2rem;
        @include max(768px){
          font-size:1.5rem !important;
        }
        font-weight: 600;
        color: #fb4226;
      }
    }
  }
  .showChair__content {

    
    .showChair__screen {
      // null
      img{
        width:100%;
      }
    }
    
    .showChair__res {
       

      .showChair__out {
        width: 97%;
          img{
            cursor: pointer;
              transform: rotate(268deg);
          }
        display:flex;
        justify-content: flex-end;
      }
      .showChair__space {
        white-space:nowrap;
       
        @include max(700px){
          max-height: 260px;
          
        }
        @include mobile(){
          max-height: 211px;
        }
        @include max(1024px){
          overflow-x: scroll;


        }
        width: 100%;
        svg {
         
          font-size: 1.75rem;
        }

        &__note{
          padding-top: 1rem;
          display: flex;
          flex-wrap: wrap;
      
          
          
          @include max(768px){
            flex-wrap: wrap;
          
              & div{
                padding: 0 10px;
              }
          }
            
            align-items: center;
            justify-content: space-around;
            span{
                color:gray;
                font:  {
                    weight: 600 ;
                    size: 15px;
                } 
                
            }
        }
      }
    }
  }
}
