.ShowIn{
    @include max(1024px){
        display:none;
      }
    height: 500px;
    margin:  10px 0;
    // .ps__thumb-y{
    //     background-color:#ff1d1d!important;
    // }
    .cinema{
        position: relative;
        padding: 3px 22px;
        width: 100%;
        
    
        &__logo{
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            img{
                max-width: 50px;
                
            }
        }
        &__info{
            width: 100%;
            padding-left: 60px;
            text-align: left;
            text-transform: none;
            .cut{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;

            }
            .cinema__name{
                color: #000;
                font-size: 14px;
                
                font-weight: bold;

                

            }
            .cinema__address{
                font-size: 12px;
                color: #949494;
                
            }
            
            .cinema__detail{
                color: #ff7539;
            }
        }
    }

}