.pack{
    
    
    padding-top: 120px;
    background: url('https://tix.vn/app/assets/img/icons/back-news.png');
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 940px;
    float: none;
    margin: auto;
    clear: both;
}