$color-1:#ec7532;
$color-0-red:red ;
$color-0-white:white;

$blue-1:#2196f3;
$chair : #44c020;
$name :#868489 ;
$breakpoints: (
  "max-sreen": 1500px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 769px,
  "small": 576px,
  "verysmall": 500px,
);

$em-1:16px;

$font-bold:bold;
$dark :rgb(10, 32, 41);