$color-1:#ec7532;

$blue-1:#2196f3;
$chair : #44c020;
$name :#868489 ;
$breakpoints: (
  "max-sreen": 1500px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 769px,
  "small": 576px,
  "verysmall": 500px,
);

$dark :rgb(10, 32, 41);