.scrollTop {
    position: fixed;
    width: 60px;
    bottom: 20px;
    align-items: center;
    height: 60px;
    justify-content: center;
    z-index: 1000000000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.7;
    right: 20px;
    -webkit-animation: fadeIn 0.3s;
    font-size: 4rem;
    color: white;
    background: rgb(236, 24, 24);
    border-radius: 50% 20% / 10% 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
  
  .scrollTop:hover{
    opacity: 1;
    /* border: 1px solid white; */

  }
  .scrollTop svg{
      font-size:3rem;
      
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }